* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
	font-family: Arial, sans-serif;
}

.container {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box {
	width: 300px;
	height: 150px;
	background-color: #fff;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.box:hover {
	transform: scale(1.05);
}

#wordToPdf {
	background-color: #1B5EBE;
}

#pdfToWord {
	background-color: #41A5EE;
}

#excelToPdf {
	background-color: #10793F;
}

#pdfToExcel {
	background-color: #33C481;
}

#powerpointToPdf {
	background-color: #C13B1B;
}

#pdfToPowerpoint {
	background-color: #ED6C47;
}

#jpegToPdf {
	background-color: #222;
}

#pdfToJpeg {
	background-color: #555;
}

h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
}
a{
    text-decoration: none;
}

header h1 {
	margin-top: 20px;
	margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(to left, #f12711, #f5af19);
    color: transparent;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
}

